* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #161616;
  --btn-color: #8067ff;
  --checked-list: hsla(0, 0%, 100%, 0.16);
  --active-bg-color: hsla(121, 100%, 41%, 0.205);
  --active-color: hsl(121, 100%, 41%);
  --inactive-bg-color: hsla(3, 100%, 41%, 0.205);
  --inactive-color: hsl(3, 100%, 41%);
  --grey-color: #d8d8d8;
  --email-color: #cecece;
  --white-color: #ffffff;

  --linear-color-1: #c70734;
  --linear-color-2: #ff4b2b;
  --linear-color-3: #ff1281;

  --linear-color-4: hsla(0, 0%, 100%, 0.082);
}

@font-face {
  font-family: "Switzer";
  src: url("/public/assets/fonts/Switzer-Bold.woff2") format("woff2"),
    url("/public/assets/fonts/Switzer-Bold.woff2") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Switzer";
  src: url("/public/assets/fonts/Switzer-Medium.woff2") format("woff2"),
    url("/public/assets/fonts/Switzer-Medium.woff2") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Switzer";
  src: url("/public/assets/fonts/Switzer-Regular.woff2") format("woff2"),
    url("/public/assets/fonts/Switzer-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Switzer, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  background: rgb(32, 32, 32);
  color: rgb(247, 247, 247);
}

body::-webkit-scrollbar-width {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background-color: #7c3434;
}

body::-webkit-scrollbar-thumb {
  background-color: #7c3434;
}

main {
  height: 100%;
  min-height: 100dvh;
}

section {
  height: 100%;
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
  padding-block: 3rem;
}

@media (width < 720px) {
  section {
    width: 92%;
    padding-block: 1.5rem;
  }
}

svg {
  width: 1rem;
  stroke: var(--white-color);
  fill: none;
}

.inp-checkbox[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.checkbox {
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;

  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  transform: translate3d(0, 0, 0);

  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid var(--grey-color);
  transition: all 0.2s ease;
}

.checkbox svg {
  position: absolute;
  fill: none;
  stroke: var(--btn-color);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.checkbox:before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}

.checkbox:hover svg {
  border-color: var(--btn-color);
}

.checkbox:has(.inp-checkbox:checked) {
  background: var(--grey-color);
  border-color: var(--grey-color);
  animation: wave-46 0.4s ease;
}
.checkbox:has(.inp-checkbox:checked) svg {
  stroke-dashoffset: 0;
}
.checkbox:has(.inp-checkbox:checked)::before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}

@keyframes wave-46 {
  50% {
    transform: scale(0.9);
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;

  h1 {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--grey-color);
    font-weight: 600;
  }

  .header-btns {
    display: flex;
    align-items: center;
  }

  button {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;

    span {
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      text-wrap: nowrap;
      background: var(--btn-color);
      backdrop-filter: blur(10px);
      color: var(--white-color);
      border: 2px solid var(--linear-color-4);
      padding-inline: 0.5rem;

      border-radius: 100vw;
      font-weight: 600;
      place-content: center;

      font-size: 0.825rem;
      transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
      pointer-events: none;
    }

    svg {
      width: 1rem;
      stroke: var(--white-color);
      pointer-events: none;
    }
  }

  .remove-customer {
    margin-right: 0.5rem;

    span {
      width: 3rem;
      background-color: hsl(0, 100%, 24%);
      border: 2px solid var(--linear-color-4);
      padding-inline: 0;
    }

    svg {
      fill: none;
      stroke: var(--white-color);
    }
  }

  @media (width < 720px) {
    button span {
      height: 2.5rem;
      font-size: 0.75rem;
    }

    button svg {
      width: 1rem;
    }

    .remove-customer span {
      width: 2.5rem;
    }
  }

  button:hover span {
    transform: translate(0, -0.25rem);
  }
}

.table-container {
  overflow: auto;
  height: 100%;
  max-height: 31.5rem;
  padding-inline-end: 1rem;
  padding-block-end: 1rem;

  scrollbar-width: thin;
  scrollbar-color: blue;
}

.table-container::-webkit-scrollbar-width {
  width: 12px !important;
}

.table-container::-webkit-scrollbar-track {
  background-color: #7c3434;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #7c3434;
}

table {
  border-collapse: separate;
  border: 0;
  min-width: 720px;
  width: 100%;
  border-spacing: 0 16px;

  tr th + th,
  tr td + td {
    padding-left: 0;
  }

  th,
  td {
    padding-inline: 1rem;
    text-align: left;
    max-width: 100%;
  }

  th {
    text-transform: uppercase;
    color: var(--grey-color);
    font-size: 0.75rem;
    font-weight: 600;
  }

  td {
    position: relative;
    padding-block: 1rem;
    background: var(--linear-color-4);
    border-block: 1px solid var(--linear-color-4);
    font-size: 0.875rem;
    transition: background-color 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  tr:has(.inp-checkbox:checked) td {
    background-color: var(--checked-list);
  }

  tr td:first-child {
    border-top-left-radius: 10px;
  }

  tr td:last-child {
    border-top-right-radius: 10px;
  }

  tr td:first-child {
    border-bottom-left-radius: 10px;
  }
  tr td:last-child {
    border-bottom-right-radius: 10px;
  }

  .customer-name {
    display: block;
  }

  .customer-email {
    color: var(--grey-color);
    font-size: 0.75rem;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;

    svg {
      pointer-events: none;
    }
  }

  ul.menu-list {
    list-style: none;
    position: absolute;
    display: none;
    width: 100%;
    min-width: 7rem;
    top: 65%;
    right: 0;
    border-radius: 5px;
    backdrop-filter: blur(16px);
    overflow: hidden;
    z-index: 99 !important;

    li {
      width: 100%;

      svg,
      span {
        pointer-events: none;
        fill: none;
        color: var(--white-color);
      }
    }

    button {
      background-color: var(--linear-color-4);
      width: 100%;
      padding: 0.2rem;
      border: 0;
      outline: 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.4rem;
      overflow: hidden;
      cursor: pointer;
    }
  }

  ul.active-menu {
    display: block;
    z-index: 1000000;
  }

  .status {
    padding: 0.4rem 0.8rem;
    border-radius: 100vw;
    font-weight: 600;
    text-transform: capitalize;
    /* -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); */
  }

  .active {
    color: var(--active-color);
    background-color: var(--active-bg-color);
  }

  .inactive {
    color: var(--inactive-color);
    background-color: var(--inactive-bg-color);
  }
}

.form-container {
  min-height: 100dvh;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;

  scale: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.699);
  transition: scale 150ms ease;

  .form {
    width: 96%;
    max-width: 480px;
  }

  form {
    width: 100%;
    background-color: hsl(0, 0%, 0%);
    border-radius: 24px;
    padding: 2rem;

    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid rgba(155, 155, 155, 0.425);
  }

  .form-bottom,
  .form-top {
    display: grid;
    gap: 1rem;
  }

  .form-bottom {
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    margin-top: 1rem;
  }

  label {
    width: 100%;
  }

  span {
    display: block;
    margin-bottom: 0.2rem;
    color: var(--email-color);
  }

  input {
    width: 100%;
    height: 2.5rem;
    padding-inline: 0.5rem;
    outline: none;
    border: 1px solid rgba(155, 155, 155, 0.425);
    border-radius: 8px;
    font-family: Switzer, system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
    font-size: 0.875rem;
    color: var(--bg-color);
    background-color: var(--linear-color-4);
    backdrop-filter: blur(20px);
    color: var(--white-color);
  }

  input:focus,
  input:focus-within,
  input:hover,
  input:active,
  input:target {
    border-color: var(--btn-color);
    background-color: transparent;
  }

  button {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    margin-top: 1.2rem;

    span {
      text-wrap: nowrap;
      background-color: var(--btn-color);
      color: var(--bg-color);

      border-radius: 10px;
      font-weight: 600;

      padding: 0.75rem 1rem;
      font-size: 0.825rem;
      line-height: 1rem;
      transition: transform 250ms ease;
    }

    svg {
      width: 1rem;
      fill: var(--bg-color);
    }
  }

  button:hover span {
    transform: translate(0, -0.25rem);
  }

  #close-btn {
    position: absolute;
    background-color: transparent;
    outline: none;
    border: none;
    top: 4%;
    right: 4%;
    z-index: 100000;
    transition: rotate 150ms ease;

    svg {
      fill: #202020;
      width: 2rem;
    }
  }

  #close-btn.active {
    rotate: 360deg;
  }

  @media (width < 720px) {
    button#close-btn {
      top: 0;
      right: 2%;

      svg {
        fill: #202020;
        width: 1.5rem;
      }
    }
  }
}

.form-container.show-form {
  scale: 1;
}
